 /* ACÁ ARMO MI PALETA */
:root {
    --color-primario: #12161F;
    --color-acento: #FFAA00;
    --color-secundario:#1D2633;
    --color-terciario:#283548;
    --color-texto:#E2E8F0;
    --fuente-principal: Quantico;
}


/* RESET BÁSICO */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
